*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ecf0f1; 
    color: #000;
    font-family: 'Roboto', sans-serif;
}
.item1{
    background-color: #1e272e;
    padding: 10px;
    position: sticky;
    grid-area: header; 
}
.nav_header {
    flex-direction: row;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}
.enlace-nav{
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
    margin: 5px;
}
.enlace-nav:hover{
    background: #808e9b;   
}

div{ border: solid 1px black;
    padding: 15px;
    margin: 10px;
}
.prugunta{

    background: #808e9b;
    padding: 25px;
    
    color: #dfe6e9;   
}
.nav_footer{
    color: white;
    padding-top: 20px;
    text-align: center;
}
.footer{
    grid-area: footer;
    padding: 20px;
    
}
footer{
    background-color: #1e272e;
    padding-inline: center;
    text-align: center;
    font-size: 20px;
    color: white;
}
