/******************   CUSTOM PROPERTIES    ************************/

:root {
    --first-color: #0D1321;
    --second-color: #1D2D44;
    --third-color: #3E5C76;
    --fourth-color: #748CAB;
    --fifth-color: #F0EBD8;
    --sixth-color: #3B3839;
    --seven-color: #FF2F4C;
}

/**********************   RESET     ******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--fifth-color);
}


/*******************   INDEX STYLES   ****************************/

.item1{
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: var(--first-color);
    background-color: #1e272e;
    padding: 10px;
    grid-area: header;
}

.logo{
    padding-left: 2rem;
}

/****** LOGO ******/
.logo > img{
    width: 200px;
}

/****** NAV ******/

.nav_header{
    padding-right: 2rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.nav_header > .menu{
    display: flex;
    column-gap: 2.5rem;
    padding-right: 4rem;
}

.nav_header > .menu > li > a{
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 15px;
    transition: 0.3s;
}

.nav_header > .menu > li > a:hover{
    color: var(--seven-color);
}
.contenedor {
    margin:  auto;
    display: grid;
    gap:15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
    'header  '
    'productos  '
    'productos'
    'productos'
    'footer  '
    
    ;
    
    height: 192vh;
}

.conten{
    border: solid 1px black;
    
    margin: 20px;
}
.productos{
    display: flex;
    flex-direction: column;

    align-items: center;
    background: #808e9b;
    padding: 25px;
    color: #dfe6e9;   
    font-size: 25px;
    border: solid 1px black;
    margin: 30px;
    grid-area: productos;
}

/*-------PIE-----------*/
.footer {
    grid-area: footer;
    padding: 20px;
}

footer {
    background-color: #1e272e;
    padding-inline: center;
    text-align: center;
    font-size: 20px;
    color: white;
}