/******************   CUSTOM PROPERTIES    ************************/

:root {
    --first-color: #0D1321;
    --second-color: #1D2D44;
    --third-color: #3E5C76;
    --fourth-color: #748CAB;
    --fifth-color: #F0EBD8;
    --sixth-color: #3B3839;
    --seven-color: #FF2F4C;
}

/**********************   RESET     ******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--fifth-color);
}


/*******************   INDEX STYLES   ****************************/

.item1{
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: var(--first-color);
    background-color: #1e272e;
    padding: 10px;
    grid-area: header;
}

.logo{
    padding-left: 2rem;
}

/****** LOGO ******/
.logo > img{
    width: 200px;
}

/****** NAV ******/

.nav_header{
    padding-right: 2rem;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.nav_header > .menu{
    display: flex;
    column-gap: 2.5rem;
    padding-right: 4rem;
}

.nav_header > .menu > li > a{
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 15px;
    transition: 0.3s;
}

.nav_header > .menu > li > a:hover{
    color: var(--seven-color);
}

.home{
    background-image: url(../imagenes/Backgroun__Header.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(70, 70, 70);
    background-blend-mode:soft-light;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: center;
    padding-left: 5rem;
    grid-area: home;
} 

.home > h1 {
    color: var(--first-color);
    margin: 15px 0 15px 0;
    font-weight: bold;
}

.home span {
    color: var(--seven-color);
    border-style: double;
    font-size: 8rem;
}

.home > p {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 5rem 0 0;
    font-weight: bold;
} 
.contenedor {
    margin:  auto;
    display: grid;
    gap:15px;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 4fr 3fr 1fr 1fr;
    grid-template-areas:
    'header   header  '
    'home   home  '
    'home   home  '
    'home   home  '
    'home   home  '
    'main     aside   '
    'main     aside   '
    'main     aside   '
    'cliente  cliente'
    'footer   footer   '
    
    ;
    height: auto;
    /*height: 192vh;*/

}
.item2 {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #000000;
    background-color: #fff;
    grid-area: main;
    font-size: 22px;
}
.article {
    background: #808e9b;
    color: #dfe6e9;
    margin: auto 20px;
    padding: 20px; 
}
.article1{
    border: solid black 1px;
    color: black;
    margin: auto 20px;
    padding: 20px;
}

.item3 {
    display: flex;
    background-color: #485460;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
    font-size: 20px;
}

.img3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 5px 20px;
}
aside div{
    margin: 5px 30px 20px;
}
/*--------CLIENTES-------*/
.item4 {

    background-color: #E9ECF4;
    grid-area: cliente;
    justify-content: center;
    text-align: center;
}
/*-------PIE-----------*/
.footer {
    grid-area: footer;
    padding: 20px;
}

footer {
    background-color: #1e272e;
    padding-inline: center;
    text-align: center;
    font-size: 20px;
    color: white;
}

/*
@media screen and (max-width:700px) {
    .contenedor {
        grid-template-rows: 1fr 4fr 2fr 1fr;
        grid-template-areas:

            'header   header  '
            'main     aside   '
            'main     aside   '
            'cliente  cliente  '
            'footer   footer   '
        ;
    }

    .nav_header {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:500px) {
    .contenedor {
        grid-template-rows: 1fr 4fr 2fr 1fr;
        grid-template-areas:
            'header   header  '
            'main     aside   '
            'main     aside   '
            'cliente  cliente  '
            'footer   footer   '

    }

    .item4 {
        display: none;
    }
}*/